<div class="col-md-2 col-sm-6">
    <div class="footer-menu">
      <h5 class="widget-title">Organic</h5>
      <ul class="menu-list list-unstyled">
        <li class="menu-item">
          <a href="#" class="nav-link">About us</a>
        </li>
        <li class="menu-item">
          <a href="#" class="nav-link">Conditions </a>
        </li>
        <li class="menu-item">
          <a href="#" class="nav-link">Our Journals</a>
        </li>
        <li class="menu-item">
          <a href="#" class="nav-link">Careers</a>
        </li>
        <li class="menu-item">
          <a href="#" class="nav-link">Affiliate Programme</a>
        </li>
        <li class="menu-item">
          <a href="#" class="nav-link">Ultras Press</a>
        </li>
      </ul>
    </div>
  </div>